.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: white;
  transition: background-color 0.2s ease-in-out;
}

.dropdownBtn:hover {
  background-color: #f0f0f0;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateX(-25%);
  background-color: white;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0;
  margin: 0;
  list-style: none;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #f1f1f1;
}
